.showPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

a.title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.summary {
  text-align: center;
}

.actors {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.actors .actor {
  flex: 1 1 0;
}
